.image {
    width: 400px;
    border: 10px dashed rgb(255, 31, 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
   font-size: 60px; 
   color: rgb(255, 255, 255);
   text-align: center;
   font-weight: 900px;
   background-color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.steps {
    font-weight: bolder;
    font-size: xx-large;
    color: orangered;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#description {
    background-color: blueviolet;
    font-size: 24px;
    color: aliceblue;
    display: block;
    margin-right: 50px;
    margin-left: 50px;
}

.ingredients {
    font-size: medium;
    color: green;
}

.li1 {
background-color: aqua;
}

.li2 {
    background-color: black;
    color: aquamarine;

}

.ol {
    background-color: rgb(192, 34, 131);
}

body {
    background-color: blanchedalmond;
}